In [1]:
%pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Users/pison/Library/Python/3.9/lib/python/site-packages (2.0.2)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# library

In [13]:
# Ensure numpy is installed

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df_person = pd.read_csv('person.csv')
df_vehicle = pd.read_csv('vehicle.csv')
df_crash = pd.read_csv('vic_road_crash_data.csv')

# check missing value

In [15]:
df_person.describe()

           INJ_LEVEL  HELMET_BELT_WORN  ROAD_USER_TYPE   EJECTED_CODE
count  436360.000000     436359.000000   436360.000000  410147.000000
mean        3.251655          4.056786        2.591975       0.543327
std         0.766271          3.606979        1.319231       1.934430
min         1.000000          1.000000        1.000000       0.000000
25%         3.000000          1.000000        2.000000       0.000000
50%         3.000000          1.000000        2.000000       0.000000
75%         4.000000          9.000000        3.000000       0.000000
max         4.000000          9.000000       16.000000       9.000000

In [16]:
df_person

,ACCIDENT_NO,PERSON_ID,VEHICLE_ID,SEX,AGE_GROUP,INJ_LEVEL,INJ_LEVEL_DESC,SEATING_POSITION,HELMET_BELT_WORN,ROAD_USER_TYPE,ROAD_USER_TYPE_DESC,LICENCE_STATE,TAKEN_HOSPITAL,EJECTED_CODE
0,T20120028483,B,B,M,22-25,3,Other injury,D,1.0,2,Drivers,V,NaN,0.0
1,T20160009588,03,A,F,22-25,3,Other injury,LR,1.0,3,Passengers,NaN,NaN,0.0
2,T20190007195,A,A,M,18-21,4,Not injured,D,1.0,2,Drivers,Z,NaN,0.0
3,T20190010235,B,B,M,30-39,3,Other injury,D,1.0,2,Drivers,V,NaN,NaN
4,T20130004323,01,A,M,0-4,3,Other injury,LR,3.0,3,Passengers,NaN,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436355,T20250001565,02,B,F,30-39,4,Not injured,LF,1.0,3,Passengers,NaN,NaN,0.0
436356,T20200000891,B,B,M,30-39,2,Serious injury,D,1.0,2,Drivers,V,Y,0.0
436357,T20240022185,01,B,F,22-25,3,Other injury,LF,1.0,3,Passengers,NaN,N,0.0
436358,T20210024368,B,B,F,50-59,2,Serious injury,D,1.0,2,Drivers,V,Y,9.0
436359,T20250001796,B,B,M,22-25,3,Other injury,D,1.0,2,Drivers,V,N,0.0

In [17]:
df_crash.describe()

,DCA_CODE,ROAD_ROUTE_1,LATITUDE,LONGITUDE,VICGRID_X,VICGRID_Y,TOTAL_PERSONS,INJ_OR_FATAL,FATALITY,SERIOUSINJURY,...,PED_CYCLIST_5_12,PED_CYCLIST_13_18,OLD_PED_65_AND_OVER,OLD_DRIVER_75_AND_OVER,YOUNG_DRIVER_18_25,NO_OF_VEHICLES,HEAVYVEHICLE,PASSENGERVEHICLE,MOTORCYCLE,PT_VEHICLE
count,185722.000000,185637.000000,185637.000000,185637.000000,1.856370e+05,1.856370e+05,185722.000000,185722.000000,185722.000000,185722.000000,...,185722.000000,185722.000000,185722.000000,185722.000000,185722.000000,185713.000000,185713.000000,185713.000000,185713.000000,185713.000000
mean,138.790321,6527.472778,-37.716165,144.969364,2.497209e+06,2.420224e+06,2.364152,1.300336,0.017865,0.412891,...,0.009148,0.016067,0.018151,0.068102,0.299604,1.823922,0.048031,1.445418,0.143453,0.012255
std,25.986560,2993.537657,0.557105,0.800757,7.109198e+04,6.153375e+04,1.457594,0.756386,0.143918,0.622211,...,0.100276,0.130028,0.137040,0.258670,0.518907,0.747250,0.226049,0.910488,0.360426,0.111047
min,100.000000,-1.000000,-39.030830,140.966480,2.129485e+06,2.273772e+06,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,120.000000,4961.000000,-37.959026,144.833020,2.485286e+06,2.393427e+06,2.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,130.000000,5801.000000,-37.816960,145.010760,2.500946e+06,2.409295e+06,2.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000
75%,169.000000,9999.000000,-37.696102,145.203700,2.517899e+06,2.422651e+06,3.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,2.000000,0.000000,0.000000
max,199.000000,9999.000000,-34.115696,149.757460,2.920148e+06,2.815696e+06,97.000000,48.000000,5.000000,16.000000,...,8.000000,5.000000,3.000000,3.000000,5.000000,21.000000,4.000000,19.000000,9.000000,2.000000

In [18]:
df_vehicle.describe()

,VEHICLE_YEAR_MANUF,VEHICLE_DCA_CODE,ROAD_SURFACE_TYPE,VEHICLE_POWER,VEHICLE_TYPE,VEHICLE_WEIGHT,NO_OF_WHEELS,NO_OF_CYLINDERS,SEATING_CAPACITY,TARE_WEIGHT,TOTAL_NO_OCCUPANTS,CARRY_CAPACITY,CUBIC_CAPACITY,DRIVER_INTENT,VEHICLE_MOVEMENT,CAUGHT_FIRE,LAMPS,LEVEL_OF_DAMAGE,TOWED_AWAY_FLAG,TRAFFIC_CONTROL
count,333775.000000,339867.000000,340712.000000,0.0,340713.000000,42832.000000,297854.000000,305255.000000,281952.000000,328760.000000,340690.000000,42671.000000,47317.000000,340709.000000,340707.000000,340712.00000,340712.000000,340713.000000,340710.000000,340710.000000
mean,1835.854471,2.014865,1.146179,NaN,7.703261,5604.430986,3.898185,4.479799,5.037797,1553.761251,1.245710,2477.383609,1784.203310,7.086223,7.831929,2.03038,2.420763,3.508052,2.030536,5.490760
std,562.382608,1.978917,0.819722,NaN,18.347957,7285.200829,0.680166,1.364208,2.947447,1703.664006,0.837659,4433.489521,1450.798502,18.378423,14.425906,1.12603,2.001220,2.180852,1.997294,18.943729
min,0.000000,1.000000,1.000000,NaN,1.000000,251.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.00000,0.000000,1.000000,1.000000,0.000000
25%,2001.000000,1.000000,1.000000,NaN,1.000000,2495.000000,4.000000,4.000000,5.000000,1100.000000,1.000000,710.000000,600.000000,1.000000,1.000000,2.00000,2.000000,2.000000,1.000000,0.000000
50%,2008.000000,1.000000,1.000000,NaN,2.000000,2840.000000,4.000000,4.000000,5.000000,1400.000000,1.000000,1035.000000,1580.000000,1.000000,2.000000,2.00000,2.000000,3.000000,2.000000,0.000000
75%,2013.000000,2.000000,1.000000,NaN,4.000000,3330.000000,4.000000,6.000000,5.000000,1680.000000,1.000000,1380.000000,2500.000000,3.000000,15.000000,2.00000,2.000000,5.000000,2.000000,1.000000
max,3001.000000,8.000000,9.000000,NaN,99.000000,340000.000000,46.000000,93.000000,74.000000,96000.000000,96.000000,323060.000000,9900.000000,99.000000,99.000000,9.00000,9.000000,9.000000,9.000000,99.000000

In [20]:
# clean sex column in person dataset
# change from blanks to 'U' for unknown

df_person["SEX"] = df_person["SEX"].replace(" ", "U")
df_person["AGE_GROUP"] = df_person["AGE_GROUP"].replace(" ", "Unknown")
df_person["TAKEN_HOSPITAL"] = df_person["TAKEN_HOSPITAL"].replace(" ", "Not know")
df_person["EJECTED_CODE"] = df_person["EJECTED_CODE"].replace("9", None)
# df_person

# cleaned person dataset
cleaned_person = df_person
cleaned_person.to_csv('cleaned_person.csv', index=False)